.login-form {
  width: 300px;
  border: 2px solid black;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  background-color: #eee;
}

input {
  padding: 5px;
  margin: 10px 0;
  width: 80%;
}

label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin-left: 10%;
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: gray;
}
